.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u7718-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7705-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7711-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7697-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7735-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7729-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7742-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7750-4
{
	font-family: open-sans-n6, sans-serif;
}


#u10530-4,#u10540-6
{
	font-family: open-sans-n3, sans-serif;
}

#u10540,#u10540-3,#u10537-4,#u10967-4
{
	font-family: open-sans-n7, sans-serif;
}

#u10512-4,#u10970-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10547-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu10544_input,#widgetu10544_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu10542.frm-sub-st #u10549-4 p,#widgetu10542.frm-subm-err-st #u10550-4 p,#widgetu10542.frm-subm-ok-st #u10543-4 p
{
	font-family: open-sans-i4, sans-serif;
}

#u10535-4,#u10551-4,#u10536-4
{
	font-family: open-sans-n6, sans-serif;
}

