.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u7718-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7705-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7711-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7697-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7735-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7729-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7742-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7750-4
{
	font-family: open-sans-n6, sans-serif;
}


#u11201-4,#u11221-6
{
	font-family: open-sans-n3, sans-serif;
}

#u11223-4,#u11283-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11375-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11378-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11474-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11480-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11221,#u11221-3,#u11265-4,#u11282-4,#u11360-4,#u11372-4,#u11432-4,#u11450-4,#u11453-4,#u11468-4
{
	font-family: open-sans-n7, sans-serif;
}

#u11266-4,#u11284-4,#u11357-4,#u11369-4,#u11435-4,#u11456-4,#u11459-4,#u11471-4
{
	font-family: open-sans-n3, sans-serif;
}

#u11477-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11229-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu11228_input,#widgetu11228_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu11226.frm-sub-st #u11233-4 p,#widgetu11226.frm-subm-err-st #u11234-4 p,#widgetu11226.frm-subm-ok-st #u11227-4 p
{
	font-family: open-sans-i4, sans-serif;
}

#u11225-4,#u11203-4
{
	font-family: open-sans-n6, sans-serif;
}

