.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u7718-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7705-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7711-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7697-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7735-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7729-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7742-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7750-4
{
	font-family: open-sans-n6, sans-serif;
}


#u9737-2
{
	font-family: open-sans-i7, sans-serif;
}

#u9737-6,#u9713-6
{
	font-family: open-sans-n3, sans-serif;
}

#u9735-4,#u10656-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10869-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10886-4
{
	font-family: open-sans-n6, sans-serif;
}

#u9713,#u9713-3,#u10376-4,#u10868-4,#u10888-4,#u10903-4
{
	font-family: open-sans-n7, sans-serif;
}

#u10379-4,#u10871-4,#u10889-4,#u10907-4
{
	font-family: open-sans-n3, sans-serif;
}

#u10904-4
{
	font-family: open-sans-n6, sans-serif;
}

#u9705-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu9704_input,#widgetu9704_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu9699.frm-sub-st #u9702-4 p,#widgetu9699.frm-subm-err-st #u9703-4 p,#widgetu9699.frm-subm-ok-st #u9701-4 p
{
	font-family: open-sans-i4, sans-serif;
}

#u9698-4,#u9708-4
{
	font-family: open-sans-n6, sans-serif;
}

