.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u7718-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7705-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7711-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7697-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7735-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7729-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7742-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7750-4
{
	font-family: open-sans-n6, sans-serif;
}


#u9359-6,#u8933-6
{
	font-family: open-sans-n3, sans-serif;
}

#u9359-2,#u8933,#u8933-3,#u9402-4,#u9667-4,#u9679-4,#u9889-4,#u9892-4,#u9910-4,#u10060-4,#u10063-4,#u10078-4,#u10142-4,#u10136-4,#u10147-4
{
	font-family: open-sans-n7, sans-serif;
}

#u9401-4,#u9664-4,#u9676-4,#u9895-4,#u9898-4,#u9907-4,#u10066-4,#u10072-4,#u10081-4,#u10144-4,#u10139-4,#u10145-4
{
	font-family: open-sans-n3, sans-serif;
}

#u9628-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu9625_input,#widgetu9625_prompt
{
	font-family: open-sans, sans-serif;
}

#widgetu9624.frm-sub-st #u9630-4 p,#widgetu9624.frm-subm-err-st #u9631-4 p,#widgetu9624.frm-subm-ok-st #u9632-4 p
{
	font-family: open-sans-i4, sans-serif;
}

#u9356-4,#u9633-4,#u9023-4
{
	font-family: open-sans-n6, sans-serif;
}

