.version.index /* version checker */
{
	color: #0000EB;
	background-color: #D1BEEE;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2532px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -9px;
	width: 0.01px;/* should not cover content below */
}

#pu5237
{
	width: 0.01px;
	margin-left: -100px;
}

#u5237
{
	z-index: 2;
	min-height: 1371px;
	background: #5F5F5F url("../images/23.jpg") no-repeat center center;
	background-size: cover;
}

#u5237_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	padding-bottom: 38px;
}

#home
{
	left: 569px;
	position: relative;
}

#menuu7693
{
	z-index: 170;
	width: 792px;
	left: 184px;
	margin-top: 17px;
	position: relative;
}

#u7716
{
	width: 196px;
	padding-bottom: 23px;
	position: relative;
}

#u7718-4
{
	width: 196px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7716:hover #u7718-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u7701
{
	width: 196px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
}

#u7702
{
	width: 196px;
	padding-bottom: 23px;
	position: relative;
}

#u7705-4
{
	width: 196px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7716.MuseMenuActive #u7718-4,#u7702:hover #u7705-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u7708
{
	width: 197px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
}

#u7709
{
	width: 197px;
	padding-bottom: 23px;
	position: relative;
}

#u7711-4
{
	width: 197px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7709:hover #u7711-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u7694
{
	width: 197px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 595px;
}

#u7695
{
	width: 197px;
	padding-bottom: 23px;
	position: relative;
}

#u7697-4
{
	width: 197px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7709.MuseMenuActive #u7711-4,#u7695:hover #u7697-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#pu5267
{
	width: 0.01px;
	left: 397px;
	margin-top: 128px;
	position: relative;
}

#u5267
{
	z-index: 14;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5231
{
	z-index: 221;
	width: 220px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 74px;
}

#pu5216
{
	width: 0.01px;
	margin-left: 7px;
}

#u5216
{
	z-index: 222;
	width: 50px;
	min-height: 25px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5217
{
	z-index: 223;
	width: 50px;
	min-height: 25px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u5218
{
	z-index: 224;
	width: 220px;
	min-height: 23px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u5264
{
	z-index: 5;
	width: 682px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 239px;
	margin-top: 31px;
	position: relative;
}

#u5148-4
{
	z-index: 6;
	width: 682px;
	min-height: 143px;
	border-width: 0px;
	background-color: transparent;
	font-size: 139px;
	letter-spacing: 7px;
	color: #11E9B4;
	text-align: center;
	line-height: 139px;
	font-family: passion-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u5148-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 143px;
	width: 682px;
	margin: 0px -10000px 0px 0px;
}

#u5155-4
{
	z-index: 10;
	width: 560px;
	min-height: 117px;
	border-width: 0px;
	background-color: transparent;
	font-size: 47px;
	letter-spacing: 0px;
	color: #11E9B4;
	text-align: center;
	line-height: 47px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 61px;
}

#u5155-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 117px;
	width: 560px;
	margin: 125px -10000px 0px 0px;
}

#u5591
{
	z-index: 56;
	width: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 421px;
	margin-top: 48px;
	position: relative;
}

#u5277
{
	z-index: 57;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5281
{
	z-index: 61;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u5279
{
	z-index: 59;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u5283
{
	z-index: 63;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u5285
{
	z-index: 65;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u5287
{
	z-index: 67;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u5422
{
	z-index: 16;
	width: 664px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 248px;
	margin-top: 275px;
	position: relative;
}

#u5423-4
{
	z-index: 52;
	width: 664px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 35px;
	text-align: center;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#widgetu5424
{
	z-index: 17;
	width: 0.01px;
	height: 84px;
	margin-left: 39px;
	margin-top: 13px;
	position: relative;
}

#widgetu5429
{
	z-index: 18;
	width: 384px;
	height: 48px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu5429.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 384px;
	height: 48px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5432-4
{
	z-index: 19;
	width: 365px;
	min-height: 36px;
	border-color: #C4C4C4;
	background-color: #FFFFFF;
	border-radius: 5px;
	color: #7F7F7F;
	font-size: 15px;
	line-height: 34px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	padding: 6px 6px 6px 13px;
}

#muse_css_mq,#widgetu5429.non-empty-st #u5432-4
{
	background-color: #FFFFFF;
}

#widgetu5429:hover #u5432-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 36px;
	width: 365px;
	margin: 0px -10000px 0px 0px;
}

#widgetu5429.focus-st #u5432-4
{
	border-color: #6B6B6B;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 36px;
	width: 365px;
	margin: 0px -10000px 0px 0px;
}

#widgetu5429.fld-err-st #u5432-4
{
	border-color: #D7244C;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 36px;
	width: 365px;
	margin: 0px -10000px 0px 0px;
}

#widgetu5429.non-empty-st #u5432-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5429:hover #u5432-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5429.focus-st #u5432-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu5429.fld-err-st #u5432-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu5429_input,#widgetu5429_prompt
{
	width: 365px;
	min-height: 36px;
	color: #7F7F7F;
	font-family: open-sans, sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 6px 6px 6px 13px;
}

#widgetu5429:hover #widgetu5429_input,#widgetu5429.focus-st #widgetu5429_input,#widgetu5429.fld-err-st #widgetu5429_input,#widgetu5429:hover #widgetu5429_prompt,#widgetu5429.focus-st #widgetu5429_prompt,#widgetu5429.fld-err-st #widgetu5429_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u5427-4
{
	z-index: 23;
	width: 193px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 393px;
}

#u5428-4
{
	z-index: 27;
	width: 193px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 393px;
}

#widgetu5424.frm-sub-st #u5427-4 p,#widgetu5424.frm-subm-err-st #u5428-4 p
{
	color: #FFFFFF;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u5425-4
{
	z-index: 31;
	width: 193px;
	min-height: 26px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	font-size: 12px;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 393px;
}

#widgetu5424.frm-sub-st #u5427-4,#widgetu5424.frm-subm-err-st #u5428-4,#widgetu5424.frm-subm-ok-st #u5425-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 30px;
}

#widgetu5424.frm-subm-ok-st #u5425-4 p
{
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u5426-17
{
	z-index: 35;
	min-height: 48px;
	width: 193px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
	background: url("../images/u5426-17.png") no-repeat 0px 0px;
}

#u5426-17:hover
{
	background: url("../images/u5426-17-r.png") no-repeat 0px 0px;
}

#u5426-17:active
{
	background: url("../images/u5426-17-m.png") no-repeat 0px 0px;
}

#widgetu5424.frm-sub-st #u5426-17
{
	background: url("../images/u5426-17-fs.png") no-repeat 0px 0px;
}

#widgetu5429.non-empty-st #widgetu5429_prompt,.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5237-bw
{
	z-index: 2;
	min-height: 1371px;
}

#buttonu5640
{
	z-index: 69;
	min-height: 74px;
	border-color: #787878;
	background-color: #F85D62;
	padding-bottom: 9px;
}

#buttonu5640.ButtonSelected
{
	min-height: 74px;
	margin: 0px;
}

#u5641-6
{
	z-index: 70;
	width: 960px;
	min-height: 65px;
	background-color: transparent;
	font-size: 32px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 64px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 100px;
}

#buttonu5640:hover #u5641-6
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	width: 960px;
	margin: 9px -10000px 0px 0px;
}

#buttonu5640.ButtonSelected #u5641-6
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	width: 960px;
	margin: 9px -10000px 0px 0px;
}

#buttonu5640-bw
{
	z-index: 69;
	min-height: 74px;
	margin-top: 1059px;
}

#pu7722
{
	width: 0.01px;
	padding-bottom: 89px;
	margin-left: -100px;
	margin-top: -907px;
}

#u7722
{
	z-index: 195;
	height: 89px;
}

#u7722-bw
{
	z-index: 195;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 455px;
}

#menuu7723
{
	z-index: 196;
	width: 793px;
	position: fixed;
	top: 479px;
	left: 84px;
}

#u7715,#u7731
{
	width: 196px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
}

#u7732
{
	width: 196px;
	padding-bottom: 23px;
	position: relative;
}

#u7716.MuseMenuActive,#u7702.MuseMenuActive,#u7732:hover
{
	width: 196px;
	min-height: 0px;
	margin: 0px;
}

#u7732.MuseMenuActive
{
	width: 196px;
	min-height: 0px;
	margin: 0px;
}

#u7735-4
{
	width: 196px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7702.MuseMenuActive #u7705-4,#u7732:hover #u7735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u7732.MuseMenuActive #u7735-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 196px;
	margin: 0px -10000px 0px 0px;
}

#u7724
{
	width: 197px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
}

#u7727
{
	width: 197px;
	padding-bottom: 23px;
	position: relative;
}

#u7709.MuseMenuActive,#u7695.MuseMenuActive,#u7727:hover
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u7729-4
{
	width: 197px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7695.MuseMenuActive #u7697-4,#u7727:hover #u7729-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u7738
{
	width: 197px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u7739
{
	width: 197px;
	padding-bottom: 23px;
	position: relative;
}

#u7727.MuseMenuActive,#u7739:hover
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u7742-4
{
	width: 197px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7727.MuseMenuActive #u7729-4,#u7739:hover #u7742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u7745
{
	width: 197px;
	min-height: 41px;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u7748
{
	width: 197px;
	padding-bottom: 23px;
	position: relative;
}

#u7739.MuseMenuActive,#u7748:hover
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u7748.MuseMenuActive
{
	width: 197px;
	min-height: 0px;
	margin: 0px;
}

#u7750-4
{
	width: 197px;
	min-height: 18px;
	position: relative;
	margin-right: -10000px;
	top: 11px;
}

#u7739.MuseMenuActive #u7742-4,#u7748:hover #u7750-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u7748.MuseMenuActive #u7750-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 197px;
	margin: 0px -10000px 0px 0px;
}

#u5382
{
	z-index: 4;
	min-height: 990px;
	padding-bottom: 99px;
	background: #5F5F5F url("../images/24.jpg") no-repeat center center;
	background-size: cover;
}

#pu7684
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 114px;
}

#u7684
{
	z-index: 76;
	width: 539px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pamphletu7250
{
	z-index: 77;
	width: 0.01px;
	height: 410px;
	position: relative;
	margin-right: -10000px;
}

#u7264
{
	z-index: 78;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 230px;
}

#u7266
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u7266
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7266:hover
{
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7266:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7266.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 50px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7267
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 35px;
}

.ie #u7266.PamphletThumbSelected,.ie #u7267
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7267:hover
{
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7267:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7267.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7265
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 70px;
}

.ie #u7267.PamphletThumbSelected,.ie #u7265
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7265:hover
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7265:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7265.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u7251popup
{
	z-index: 82;
}

#u7256
{
	z-index: 83;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7257
{
	z-index: 84;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20.jpg") no-repeat center center;
	background-size: cover;
}

#u7252
{
	z-index: 85;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7253
{
	z-index: 86;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/21-u7253-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7254
{
	z-index: 87;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7255
{
	z-index: 88;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/22.jpg") no-repeat center center;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5564-4
{
	z-index: 89;
	width: 201px;
	min-height: 38px;
	border-width: 0px;
	background-color: transparent;
	font-size: 32px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 169px;
}

#u5701
{
	z-index: 93;
	position: relative;
	width: 162px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 189px;
}

#u7690
{
	z-index: 95;
	width: 539px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 56px;
	position: relative;
}

#pamphletu7469
{
	z-index: 96;
	width: 0.01px;
	height: 410px;
	position: relative;
	margin-right: -10000px;
}

#u7474
{
	z-index: 97;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 230px;
}

#u7476
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u7265.PamphletThumbSelected,.ie #u7476
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7476:hover
{
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7476:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7476.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 50px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7475
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 35px;
}

.ie #u7476.PamphletThumbSelected,.ie #u7475
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7475:hover
{
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7475:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7475.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7477
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 70px;
}

.ie #u7475.PamphletThumbSelected,.ie #u7477
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7477:hover
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7477:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7477.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u7484popup
{
	z-index: 101;
}

#u7485
{
	z-index: 102;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7486
{
	z-index: 103;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20.jpg") no-repeat center center;
	background-size: cover;
}

#u7487
{
	z-index: 104;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7488
{
	z-index: 105;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/21-u7253-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7489
{
	z-index: 106;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7490
{
	z-index: 107;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/22.jpg") no-repeat center center;
	background-size: cover;
}

#u5570-4
{
	z-index: 108;
	width: 245px;
	min-height: 38px;
	border-width: 0px;
	background-color: transparent;
	font-size: 32px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 147px;
}

#u5570-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 245px;
	margin: 257px -10000px 0px 0px;
}

#u5682
{
	z-index: 112;
	position: relative;
	width: 118px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 211px;
}

#pu7687
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 114px;
	margin-left: 621px;
}

#u7687
{
	z-index: 114;
	width: 539px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pamphletu7401
{
	z-index: 115;
	width: 0.01px;
	height: 410px;
	position: relative;
	margin-right: -10000px;
}

#u7402
{
	z-index: 116;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 230px;
}

#u7404
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u7477.PamphletThumbSelected,.ie #u7404
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7404:hover
{
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7404:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7404.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 50px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7405
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 35px;
}

.ie #u7404.PamphletThumbSelected,.ie #u7405
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7405:hover
{
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7405:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7405.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u7403
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 70px;
}

.ie #u7405.PamphletThumbSelected,.ie #u7403
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7403:hover
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u7403:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7403.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u7408popup
{
	z-index: 120;
}

#u7411
{
	z-index: 121;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7412
{
	z-index: 122;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20.jpg") no-repeat center center;
	background-size: cover;
}

#u7413
{
	z-index: 123;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7414
{
	z-index: 124;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/21-u7253-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u7409
{
	z-index: 125;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u7410
{
	z-index: 126;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/22.jpg") no-repeat center center;
	background-size: cover;
}

#u5567-4
{
	z-index: 127;
	width: 201px;
	min-height: 38px;
	border-width: 0px;
	background-color: transparent;
	font-size: 32px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 169px;
}

#u5564-4:hover,#u5567-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 201px;
	margin: 257px -10000px 0px 0px;
}

#u5714
{
	z-index: 131;
	position: relative;
	width: 118px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 211px;
}

#u11645
{
	z-index: 151;
	width: 539px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 56px;
	position: relative;
}

#pamphletu11564
{
	z-index: 152;
	width: 0.01px;
	height: 410px;
	position: relative;
	margin-right: -10000px;
}

#u11575
{
	z-index: 153;
	width: 78px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 230px;
}

#u11577
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
}

.ie #u7403.PamphletThumbSelected,.ie #u11577
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11577:hover
{
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11577:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11577.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 50px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u11578
{
	position: absolute;
	width: 4px;
	height: 4px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 35px;
}

.ie #u11577.PamphletThumbSelected,.ie #u11578
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11578:hover
{
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11578:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11578.PamphletThumbSelected
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	width: 4px;
	height: 4px;
	min-height: 0px;
	margin: 0px;
}

#u11576
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 100px;
	left: 70px;
}

.ie #u11578.PamphletThumbSelected,.ie #u11576
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11576:hover
{
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11576:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11576.PamphletThumbSelected
{
	background-color: transparent;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

.ie #u11576.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u7251,#u7484,#u7408,#u11579
{
	position: absolute;
	width: 539px;
	background-color: transparent;
}

#u11579popup
{
	z-index: 157;
}

#u11584
{
	z-index: 158;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u11585
{
	z-index: 159;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/20.jpg") no-repeat center center;
	background-size: cover;
}

#u11580
{
	z-index: 160;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u11581
{
	z-index: 161;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/21-u7253-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u11582
{
	z-index: 162;
	width: 539px;
	height: 384px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u11583
{
	z-index: 163;
	width: 539px;
	height: 384px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/22.jpg") no-repeat center center;
	background-size: cover;
}

#u11586-4
{
	z-index: 164;
	width: 310px;
	min-height: 38px;
	border-width: 0px;
	background-color: transparent;
	font-size: 32px;
	letter-spacing: 0px;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 257px;
	left: 115px;
}

#u11586-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 310px;
	margin: 257px -10000px 0px 0px;
}

#u5641,#u5641-3,#u5564,#u5570,#u5567,#u11586
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u11587
{
	z-index: 168;
	position: relative;
	width: 118px;
	margin-right: -10000px;
	margin-top: 112px;
	left: 211px;
}

#u5701_img,#u5682_img,#u5714_img,#u11587_img
{
	display: block;
	vertical-align: top;
}

#u5382-bw
{
	z-index: 4;
	min-height: 990px;
	margin-top: 9px;
}

#u5340
{
	z-index: 3;
	min-height: 94px;
	padding-bottom: 41px;
	background: #5F5F5F url("../images/23.jpg") no-repeat center center;
	background-size: cover;
}

#buttonu5640_align_to_page,#u5382_align_to_page,#u5340_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
}

#u5735-4
{
	z-index: 133;
	width: 335px;
	min-height: 20px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 15px;
	text-align: justify;
	line-height: 15px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
}

#u5738
{
	z-index: 137;
	width: 319px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 841px;
}

#u5747
{
	z-index: 138;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u5743
{
	z-index: 142;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u5739
{
	z-index: 140;
	width: 25px;
	-webkit-transition-duration: 0s;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u5277:hover,#u5281:hover,#u5279:hover,#u5747:hover,#u5743:hover,#u5739:hover
{
	-webkit-transition-duration: 0.2s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 25px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5745
{
	z-index: 144;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 177px;
}

#u5749
{
	z-index: 146;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 236px;
}

#u5741
{
	z-index: 148;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u5283:hover,#u5285:hover,#u5287:hover,#u5745:hover,#u5749:hover,#u5741:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 24px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u5340-bw
{
	z-index: 3;
	min-height: 94px;
}

.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

